@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: rgb(150, 150, 150);
}

nav {
  background-color: rgb(64, 106, 243);
  color: rgb(62, 151, 230);
  font-size: large;
  font-weight: bold;
  display: grid;
  grid-template-columns: 50% 50%;
}

nav img {
  width: 18vmin;
  height: 18vmin;
  padding: 10px;
  border-radius: 50%;
} 

nav p{
  padding: 10px;
  margin-top: 10px
}


/* nav li img {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%; */

nav button{
  text-decoration: none;
  border: 10px yellow ;
  padding: 18px 26px;
  /* border-radius: 26px; */
  background-color:  #eff0b2;
  color: rgb(43, 135, 241);
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* font-weight: 550; */
  /* height: auto; */
}

/* nav li img { */
  /* width: 10vmin; */
  /* height: 10vmin; */
  /* border-radius: 50%; */

nav button:hover{
  background-color: rgb(228, 62, 250);
  color: black;
  cursor: pointer;
  border-bottom: solid 2px slateblue;
}


.Main-container {
  width: 100%;
  margin: 0 auto;
}

main{
  margin: 20px;
  font-family: IBM Plex Sans Thai Looped;
}