@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

nav {
  background-color: yellow;
  color: rgb(27, 120, 201);
  font-size: large;
  font-weight: 550;
  height: auto;
}

nav li img {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
}

nav ul li {
  /* nav-right: 50vh; */
  padding: 0.1rem 1rem;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  transition: 300ms;
  justify-content: flex-end;
}

nav ul li a:hover{
  font-size: 1.4rem;
  font-weight: 700;
  transition: 300ms; 
}
nav ul li:visited {
  text-decoration: none;
}

.Main-container {
  width: 100%;
  margin: 0 auto;
}